<%- include("./partials/header.ejs"); -%>

<h2>Welcome</h2>

<div style="align-items:center; width:50vw ;">
  <form action="/findStockName" method="post">
    <input type="text" name="stockname" required/>
    <button type="submit" class>Search</button>
  </form>
 

</div>


<button><a href="/getIntrinsicValue">Get Intrinsic Value</a></button>

<%- include("./partials/footer.ejs"); -%>